<!--<html>-->
<div class="jqmSubmit" id="dialog" style="width:400px;height:235px;top:25%;left:35%;">
  <div align="center">
    <div class="bread jqDrag jqtop" style="width:390px;">
      添加题目
    </div>
  </div>
  <div class="jqcontent" style="width:390px;height:145px;padding-left:10px;">
    <div style="padding-top:10px;">
      <input type="text" class="jqtext" style="width:370px;" id="add_content" />
      <small class="help-block" style="margin:1px;">说明：</small>
      <small class="help-block" style="margin:1px;">1. 多个题目用一个或多个空格隔开</small>
      <small class="help-block" style="margin:1px;">2. 例子: "1002 1005 1010 1007"...</small>
      <small class="error-text help-block" style="margin:1px;">3. 每个分组最多只能容下10题！</small>
    </div>
    <small id="add_err" class="error-text"></small>
  </div>
  <div class="jqfoot">
    <a id="add_submit" class="uibtn" href="javascript:;" id="addtogroup">确认添加</a>
    <a class="uibtn addclose" href="javascript:;">关闭</a>
  </div>
  <div class="jqResize"></div>
  <i class="addclose jqclose"></i>
</div>