<!--<html>-->
<div class="jqmSubmit" id="submitdialog" style="height:595px;width:510px;top:6%;left:30%;">
  <div align="center">
    <div class="bread jqDrag jqtop" style="width:500px;">
      Submit your code here
    </div>
  </div>
  <div class="jqcontent" style="height:500px;width:510px;">
    <div style="width:500px;overflow:hidden;margin-bottom:5px;">
      <div style="width:290px;float:left;">
        Problem:
        <span class="user-green" id="pid"></span>
      </div>
      <div style="width:200px;float:right;">
        Language:
        <select class="input-small" id="lang">
          <option value='1'>C</option>
          <option value='2' selected="selected">C++</option>
          <option value='3'>Java</option>
        </select>
      </div>
    </div>
    <span class="error-text" id="error"></span>
    <div style="padding-top:5px;">Source Code</div>
    <textarea style="width:450px;height:370px;margin:10px 10px 0 10px;" class="jqtext"></textarea>
  </div>
  <div class="jqfoot" align="right">
    <a class="uibtn" href="javascript:;" id="jqcodesubmit">Submit</a>
    <a class="uibtn submitclose" href="javascript:;">Cancel</a>
  </div>
  <div class="jqResize"></div>
  <i class="submitclose jqclose"></i>
</div>