<!--<html>-->
<div class="jqmSubmit" id="deletedialog" style="width:330px;height:160px;top:25%;left:35%;">
  <div align="center">
    <div class="bread jqDrag jqtop" style="width:320px;">
      Warnning!
    </div>
  </div>
  <div class="jqcontent" style="width:320px;height:80px;padding-left:10px;">
    <p style="padding-top:25px;font-size:17px;">Are you sure to delete this contest?</p>
  </div>
  <div class="jqfoot" style="height:25px;">
    <a class="uibtn" href="javascript:;" id="sure">Yes</a>
    <a class="uibtn deleteclose" href="javascript:;">No</a>
  </div>
  <div class="jqResize"></div>
  <i class="deleteclose jqclose"></i>
</div>