<% var tmp = ['新手入门题', '水题，简单题', '算法类简单题，或属于比较繁琐一点的模拟题', '算法类中等题，用到多于一种知识或需要比较高的想法和思维', '算法类高级题，用到复杂的知识，或高级模拟题，难度高', '']; %>
<% for (var i = 0; i < 6; i++) { %>
<option value="<%= 5-i %>" <% if (easy == 5-i) { %>selected<% } %>><%= tmp[i] %></option>
<% } %>