<% var tmp = ['新手入门题，练习输入输出或者是课本上的小练习之类', '水题，简单模拟题，类似CF的Div2的A题，题目读懂后不难做', '算法或数据结构简单入门题，或者属于比较繁琐一点的模拟题', '中等题，用到多种算法或数据结构，或需要比较高的想法和思维', '高级题，用到复杂的数据结构或算法，要求对知识点有深刻的理解', '骨灰级难题，高级比赛中只有少数队伍能做出来的题']; %>
<% for (var i = 0; i < 6; i++) { %>
<option value="<%= 5-i %>" <% if (easy == 5-i) { %>selected<% } %>><%= tmp[i] %></option>
<% } %>