<!--<html>-->
<!--Made by Lrelia,a little girl forever!-->
<fieldset>
  <div class="container">
    <legend>答疑</legend>
    <div class="set_picture_left">
    </div>
    <div class="QA">
      <div class="left_border">
      </div>
      <div class="right_border">
      </div>
      <!--To add question & answer,you just need to copy the code between the two marked lines and change the content in tag <p>:start--><!--
      <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span lang="EN-US">Have more question?Ask Lrelia please.</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p><span lang="EN-US">After your ask,Lrelia will let Sine to give a reply for the question.</span></p>
      </div>
    </br>
  --><!--To add question & answer,you just need to copy the code between the two marked lines and change the content in tag <p>:end-->
      <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>支持那些语言？</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>目前支持</span><span lang="EN-US">C(99<span lang="EN-US">)</span><span style='font-family: 宋体'>、</span><span lang="EN-US">C++(03</span><span lang="EN-US">)</span><span style='font-family: 宋体'>、</span><span lang="EN-US">Java(7)</span><span style='font-family: 宋体'>三种语言，更多语言将在未来支持。</span></p>
      </div>
    </br>
     <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>使用的编译器及其版本是？</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>目前以</span><span lang="EN-US">gcc</span><span style='font-family: 宋体'>和</span><span lang="EN-US">g++</span><span style='font-family: 宋体'>作为</span><span lang="EN-US">C/C++</span><span style='font-family: 宋体'>编译器，版本为</span><span lang="EN-US">4.6.3</span><span style='font-family: 宋体'>；而</span><span lang="EN-US">Java</span><span style='font-family: 宋体'>则使用</span><span lang="EN-US">OpenJDK7</span><span style='font-family: 宋体'>来编译，版本为</span><span lang="EN-US">7u21</span><span style='font-family: 宋体'>。</span>
        </p>
      </div>
    </br>
     <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>如何知道我的程序是否正确呢？</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p><span style='font-family: 宋体'>与其他大部分</span><span lang="EN-US">OJ</span><span style='font-family: 宋体'>一样，</span><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>采用黑盒测试的方法，除了您所看到的测试样例外，系统还准备了一系列案例来测试您提交的程序。您的程序给出的所有输出都将被保存起来，并与预先准备好的标准答案进行对照，如有不一致，系统将会认为您的程序未能解决问题。因此，请您严格按照题目要求的格式输出答案。下面针对</span><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>所支持的每种语言给出了</span><span lang="EN-US">1000</span><span style='font-family: 宋体'>号题目的“标准解法”：</span></p>
        <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0"
            style='border-collapse: collapse; border: none'>
            <tr>
                <td width="47" style='width: 35.2pt; border: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p align="center" style='text-align: center'><span lang="EN-US">C</span></p>
                </td>
                <td width="510" style='width: 382.75pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #804000'>#include
  &lt;stdio.h&gt;</span>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  main</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> a</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>while</span></b><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(~</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>scanf</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: gray'>&quot;%d%d&quot;</span><b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,&amp;</span></b><span
                                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a</span><b><span
                                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,&amp;</span></b><span
                                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>))</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  printf</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: gray'>&quot;%d\n&quot;</span><b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,</span></b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a</span><b><span
              lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>+</span></b><span
                  lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                      lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>);</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: #FF8000'>0</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="47" rowspan="2" style='width: 35.2pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p align="center" style='text-align: center'><span lang="EN-US">C++</span></p>
                </td>
                <td width="510" style='width: 382.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #804000'>#include
  &lt;iostream&gt;</span>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>using</span></b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>namespace</span></b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  std</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  main</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> a</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>while</span></b><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>cin </span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>&gt;&gt;</span></b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a </span><b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>&gt;&gt;</span></b><span
                                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>)</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  cout </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>&lt;&lt;</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a</span><b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>+</span></b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b </span><b><span
              lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>&lt;&lt;</span></b><span
                  lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>endl</span><b><span
                      lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: #FF8000'>0</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="510" style='width: 382.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #804000'>#include
  &lt;cstdio&gt;</span>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  main</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> a</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>while</span></b><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(~</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>scanf</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: gray'>&quot;%d%d&quot;</span><b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,&amp;</span></b><span
                                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a</span><b><span
                                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,&amp;</span></b><span
                                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>))</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  printf</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: gray'>&quot;%d\n&quot;</span><b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,</span></b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a</span><b><span
              lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>+</span></b><span
                  lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                      lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>);</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: #FF8000'>0</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="47" style='width: 35.2pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p align="center" style='text-align: center'><span lang="EN-US">Java</span></p>
                </td>
                <td width="510" style='width: 382.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>import</span></b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  java</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>util</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: black'>Scanner</span><b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>public</span><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>class</span><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  Main </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>public</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>void</span><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  main</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>String</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>[]</span></b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: black'> args</span><b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>)</span></b><span
              lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span
                  lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Scanner in </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>new</span></b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  Scanner</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>System</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: black'>in</span><b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>);</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>while</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>in</span><b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>hasNextInt</span><b><span
                                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>())</span></b><span
                                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span
                                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> a </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'> in</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>nextInt</span><b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>();</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> b </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'> in</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>nextInt</span><b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>();</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  System</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>out</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: black'>println</span><b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
              lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a </span><b><span
                  lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>+</span></b><span
                      lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> b</span><b><span
                          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>);</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                </td>
            </tr>
        </table>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>的</span><span lang="EN-US">C/C++</span><span style='font-family: 宋体'>为什么不允许使用</span><span lang="EN-US">_int64</span><span style='font-family: 宋体'>？</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p><span lang="EN-US">C99</span><span style='font-family: 宋体'>和</span><span lang="EN-US">C++11</span><span style='font-family: 宋体'>规定使用</span><span lang="EN-US">long long</span><span style='font-family: 宋体'>来表示</span><span lang="EN-US">64</span><span style='font-family: 宋体'>位整数，而</span><span lang="EN-US">long long</span><span style='font-family: 宋体'>是此前除</span><span lang="EN-US">VC6</span><span style='font-family: 宋体'>外几乎所有</span><span lang="EN-US">C/C++</span><span style='font-family: 宋体'>编译器用来表示</span><span lang="EN-US">64</span><span style='font-family: 宋体'>位整数的方法。因为新版本的</span><span lang="EN-US">VC</span><span style='font-family: 宋体'>也已经兼容了</span><span lang="EN-US">long long</span><span style='font-family: 宋体'>类型，我们认为已经没有必要再去兼容这个非标准类型了。由于诞生的比第一个</span><span lang="EN-US">C++</span><span style='font-family: 宋体'>标准还要早，</span><span lang="EN-US">VC6</span><span style='font-family: 宋体'>与标准的兼容性极差，因此我们建议您弃用它</span><span lang="EN-US">VC6</span><span style='font-family: 宋体'>，尽快升级到</span><span lang="EN-US">VC</span><span style='font-family: 宋体'>的更高版本或改用其他编译器。</span></p>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span style='font-family: 宋体'>在</span><span lang="EN-US">C/C++</span><span style='font-family: 宋体'>的</span><span lang="EN-US">scanf等</span><span style='font-family: 宋体'>函数中，</span><span lang="EN-US">long long</span><span style='font-family: 宋体'>类型应该使用怎样的占位符？</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p><span style='font-family: 宋体'>在</span><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>上应使用</span><span lang="EN-US"><strong>%lld</strong></span><span style='font-family: 宋体'>做</span><span lang="EN-US">long long</span><span style='font-family: 宋体'>的占位符。</span></p>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span style='font-family: 宋体'>：我每次提交后，</span><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>反馈的每种</span><span lang="EN-US">Verdict</span><span style='font-family: 宋体'>分别代表什么含义？</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p><span style='font-family: 宋体'>每一个提交都会反馈一个</span><span
                lang="EN-US">Verdict</span><span style='font-family: 宋体'>，每种</span><span
                    lang="EN-US">Verdict</span><span style='font-family: 宋体'>代表的含义分别为：</span></p>
        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Pending</span></b><span
                style='font-family: 宋体'>：服务器正忙，暂时未能判您的程序，请稍后查看结果；</span>
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Running</span></b><span
                style='font-family: 宋体'>：服务器正在裁判您的程序，请稍后查看结果；</span>
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Accepted</span></b><span
                style='font-family: 宋体'>：您的程序已通过所有测试样例，恭喜您完成了所提交的题目；</span>
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Presentation
Error</span></b><span style='font-family: 宋体'>：您的程序可能输出了正确的结果，但是输出的格式与要求的结果不一致，请仔细检查；</span>
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Runtime Error</span></b><span
                style='font-family: 宋体'>：您的程序发生了运行时错误，请检查您的程序是否存在以下</span><span lang="EN-US">Bugs</span><span
                    style='font-family: 宋体'>：</span><span lang="EN-US">1.</span><span
                        style='font-family: 宋体'>访问数组时下标越界；</span><span lang="EN-US">2.</span><span
                            style='font-family: 宋体'>使用指针读取了不可读的内存或写了不可写的内存；</span><span lang="EN-US">3.</span><span
                                style='font-family: 宋体'>整数除法除数为</span><span lang="EN-US">0</span><span
                                    style='font-family: 宋体'>；</span><span lang="EN-US">4.</span><span
                                        style='font-family: 宋体'>函数调用栈的层次过多导致栈溢出，请检查是否存在无穷递归的可能；</span><span lang="EN-US">5.</span><span
                                            style='font-family: 宋体'>错误使用</span><span lang="EN-US">STL</span><span
                                                style='font-family: 宋体'>对象导致了未有效处理的异常抛出，或者触发了自己定义的异常而未能处理……等。</span>
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Time Limit
Exceeded</span></b><span style='font-family: 宋体'>：程序运行时间超出了时间限制，请检查是否使用了低效率的算法，或者在程序中大量使用低效率的操作，比如用</span><span
    lang="EN-US">iostream</span><span style='font-family: 宋体'>进行大量数据的读写等，此时可以试着换用</span><span
        lang="EN-US">stdio</span><span style='font-family: 宋体'>再提交一次。</span>
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Memory Limit
Exceeded</span></b><span style='font-family: 宋体'>：程序使用的内存超出了内存限制，请检查是否存在内存泄露，或者使用了空间复杂度过高的算法。</span>
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Output Limit
Exceeded</span></b><span style='font-family: 宋体'>：程序输出了过多的内容，请检查是否存在与输出有关的死循环。</span>
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Compilation
Error</span></b><span style='font-family: 宋体'>：程序存在语法错误，无法编译。也许您的程序在某些平台上可以正常编译，但可能由于使用了只能在特定平台使用的不规范语法，它无法在</span><span
    lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>的平台上编译成功。为了保持对各平台的兼容性，请编写严格符合标准的代码。</span>
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Dangerous
Code</span></b><span style='font-family: 宋体'>：您的程序进行了可能威胁到服务器安全的函数调用而被禁止。除了标准输入输出外，请尽量不要执行其他与系统有关的操作。</span>
        </p>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span style='font-family: 宋体'>：当我提交</span><span lang="EN-US">Java</span><span style='font-family: 宋体'>源码的时候应当注意什么？</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p><span style='font-family: 宋体'>：正如上面的示例一样，入口类必须被声明为“</span><span lang="EN-US">public class Main</span><span style='font-family: 宋体'>”，不可换用其它类名；而入口方法则必须为“</span><span lang="EN-US">public static void main(String[] args)</span><span style='font-family: 宋体'>”</span><span lang="EN-US">,</span><span style='font-family: 宋体'>其中参数名可以不为“</span><span lang="EN-US">args</span><span style='font-family: 宋体'>”。</span></p>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span lang="EN-US">Java</span><span style='font-family: 宋体'>的</span><span lang="EN-US">IO</span><span style='font-family: 宋体'>很慢，这样在时间上</span><span lang="EN-US">Java</span><span style='font-family: 宋体'>程序员会不会很吃亏？</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p><span style='font-family: 宋体'>：按照惯例，我们为</span><span lang="EN-US">Java</span><span style='font-family: 宋体'>留出的时间限制是</span><span lang="EN-US">C/C++</span><span style='font-family: 宋体'>的两倍，来保证</span><span lang="EN-US">IO</span><span style='font-family: 宋体'>不会成为</span><span lang="EN-US">Java</span><span style='font-family: 宋体'>程序的效率瓶颈，而且往往正因为如此</span><span lang="EN-US">,Java</span><span style='font-family: 宋体'>程序在很多情况下反而更具有时间优势。如果您确信</span><span lang="EN-US">IO</span><span style='font-family: 宋体'>成为您</span><span lang="EN-US">Java</span><span style='font-family: 宋体'>程序的性能瓶颈，不妨试试下面这个类：</span></p>
        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>class</span><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
Reader </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> BufferedReader reader</span><b><span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> StringTokenizer tokenizer</span><b><span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: teal'>/** call this method to initialize reader for InputStream */</span>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>void</span><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> init</span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>InputStream
input</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>)</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
reader </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>new</span></b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: black'> BufferedReader</span><b><span
        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>new</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> InputStreamReader</span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>input</span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>));</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
tokenizer </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>new</span></b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: black'> StringTokenizer</span><b><span
        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: gray'>&quot;&quot;</span><b><span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>);</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: teal'>/** get next word */</span>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> String next</span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>throws</span></b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
IOException </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>while</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(!</span></b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>tokenizer</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>hasMoreTokens</span><b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>())</span></b><span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: green'>//TODO add check for eof if necessary</span>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
tokenizer </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>new</span></b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: black'> StringTokenizer</span><b><span
        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b> <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>reader</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>readLine</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>());</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> tokenizer</span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>nextToken</span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>();</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
nextInt</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>throws</span></b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: black'> IOException </span><b><span
        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> Integer</span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>parseInt</span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>next</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>());</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>double</span><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
nextDouble</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>throws</span></b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: black'> IOException </span><b><span
        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> Double</span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>parseDouble</span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>next</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>());</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <b><span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: green'>//</span><span
                    style='font-size: 10.0pt; font-family: 宋体; color: green'>来源：</span><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: green'><u><a href = "http://www.cpe.ku.ac.th/~jim/java-io.html" target = "_black">http://www.cpe.ku.ac.th/~jim/java-io.html</a></u></span>
        </p>
      </div>
    </br>
    <!--F.A.Q.s 本次修订完成时间：2013-06-05 0：22-->
    </div>
    <div class="set_picture_right">
    </div>
  </div>
</fieldset>
