<!--<html>-->
<!--Made by Lrelia,a little girl forever!-->
<fieldset>
  <div class="container">
    <legend>答疑</legend>
    <div class="set_picture_left">
    </div>
    <div class="QA">
      <div class="left_border">
      </div>
      <div class="right_border">
      </div>
      <!--To add question & answer,you just need to copy the code between the two marked lines and change the content in tag <p>:start--><!--
      <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span lang="EN-US">Have more question?Ask Lrelia please.</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p><span lang="EN-US">After your ask,Lrelia will let Sine to give a reply for the question.</span></p>
      </div>
    </br>
  --><!--To add question & answer,you just need to copy the code between the two marked lines and change the content in tag <p>:end-->
      <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p>GzhuOJ支持那些语言？它们的版本及使用的编译器的版本是如何的？</p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p>GzhuOJ目前支持的语言及他们的编译器:</p>
        <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0"
            style='border-collapse: collapse; border: solid windowtext 1.0pt' align="center">
          <tr>
            <td width="40" align="center">语言</td>
            <td width="80" align="center">语言版本</td>
            <td width="80" align="center">编译器</td>
            <td width="100" align="center">编译器版本</td>
          </tr>
          <tr>
            <td align="center">C</td>
            <td align="center">C99</td>
            <td align="center">gcc</td>
            <td align="center">4.6.3</td>
          </tr>
          <tr>
            <td align="center">C++</td>
            <td align="center">C++03</td>
            <td align="center">g++</td>
            <td align="center">4.6.3</td>
          </tr>
          <tr>
            <td align="center">Java</td>
            <td align="center">Java7</td>
            <td align="center">OpenJDK</td>
            <td align="center">7u21</td>
          </tr>
        </table>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p>作为本校计算机科学与教育软件学院的新生，该如何开始使用系统呢？</p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p>每年新生入学后，我们将为大家每人创建一个默认的账户，所有使用本系统辅助教学的科目都将以这个账户的成绩作为考核标准。<br/>登录的方法为：<br/>1、点击右上角的Enter
          <br />
          2、"User Name"输入学号
          <br />
          3、"password"输入密码，默认"123456"</p>
      </div>
    </br>
     <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p>GzhuOJ如何知道我的程序是否正确呢？</p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p>除了您所看到的测试样例外，系统还准备了一系列案例来测试您提交的程序。测试过程中,您的程序给出的所有输出都将被保存起来，并与预先准备好的标准答案进行对照，如检查到任何不一致，系统将会认为您的程序未能解决问题。因此，请您严格按照题目要求的格式输出答案。下面针对所支持的每种语言给出了1000号题目的“标准解法”：</p>
        <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0"
            style='border-collapse: collapse; border: none'>
            <tr>
                <td width="47" style='width: 35.2pt; border: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p align="center" style='text-align: center'><span lang="EN-US">C</span></p>
                </td>
                <td width="510" style='width: 382.75pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #804000'>#include
  &lt;stdio.h&gt;</span>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  main</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> a</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>while</span></b><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(~</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>scanf</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: gray'>&quot;%d%d&quot;</span><b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,&amp;</span></b><span
                                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a</span><b><span
                                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,&amp;</span></b><span
                                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>))</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  printf</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: gray'>&quot;%d\n&quot;</span><b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,</span></b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a</span><b><span
              lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>+</span></b><span
                  lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                      lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>);</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: #FF8000'>0</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="47" rowspan="2" style='width: 35.2pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p align="center" style='text-align: center'><span lang="EN-US">C++</span></p>
                </td>
                <td width="510" style='width: 382.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #804000'>#include
  &lt;iostream&gt;</span>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>using</span></b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>namespace</span></b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  std</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  main</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> a</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>while</span></b><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>cin </span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>&gt;&gt;</span></b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a </span><b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>&gt;&gt;</span></b><span
                                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>)</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  cout </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>&lt;&lt;</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a</span><b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>+</span></b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b </span><b><span
              lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>&lt;&lt;</span></b><span
                  lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>endl</span><b><span
                      lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: #FF8000'>0</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="510" style='width: 382.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #804000'>#include
  &lt;cstdio&gt;</span>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  main</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> a</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>while</span></b><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(~</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'>scanf</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: gray'>&quot;%d%d&quot;</span><b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,&amp;</span></b><span
                                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a</span><b><span
                                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,&amp;</span></b><span
                                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>))</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  printf</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: gray'>&quot;%d\n&quot;</span><b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>,</span></b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a</span><b><span
              lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>+</span></b><span
                  lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>b</span><b><span
                      lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>);</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: #FF8000'>0</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="47" style='width: 35.2pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p align="center" style='text-align: center'><span lang="EN-US">Java</span></p>
                </td>
                <td width="510" style='width: 382.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt'>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>import</span></b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  java</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>util</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: black'>Scanner</span><b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>public</span><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>class</span><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  Main </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>public</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>void</span><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  main</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>String</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>[]</span></b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: black'> args</span><b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>)</span></b><span
              lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span
                  lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Scanner in </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>new</span></b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
  Scanner</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>System</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: black'>in</span><b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>);</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>while</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>in</span><b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>hasNextInt</span><b><span
                                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>())</span></b><span
                                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span
                                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> a </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'> in</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>nextInt</span><b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>();</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> b </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US"
                            style='font-size: 10.0pt; font-family: "Courier New"; color: black'> in</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>nextInt</span><b><span
                                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>();</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  System</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>out</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US"
      style='font-size: 10.0pt; font-family: "Courier New"; color: black'>println</span><b><span
          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
              lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>a </span><b><span
                  lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>+</span></b><span
                      lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> b</span><b><span
                          lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>);</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
                        </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                    <p class="MsoNormal" align="left" style='text-align: left; background: white'>
                        <b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
                    </p>
                </td>
            </tr>
        </table>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span lang="EN-US">GzhuOJ</span><span style='font-family: 宋体'>的</span><span lang="EN-US">C/C++</span><span style='font-family: 宋体'>为什么不允许使用</span><span lang="EN-US">_int64</span><span style='font-family: 宋体'>？</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p>
        C99和C++11规定使用long long来表示64位整数，而目前主流编译器的新版本都已经兼容了long long类型，我们认为已经没有必要再去兼容这个非标准类型了。<br/>由于诞生的比较早，VC6与标准的兼容性极差，因此建议您弃用VC6，尽快升级到VC的更高版本或改用其他编译器。</p>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p>在C/C++的scanf等函数中，long long类型应该使用怎样的占位符？</span></p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p>在GzhuOJ上应使用%lld做long long的占位符。</p>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p>我每次提交后，GzhuOJ反馈的每种Verdict分别代表什么含义</p>
    </div>
    <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p>每一个提交都会反馈一个Verdict，每种Verdict代表的含义分别为：</p>
        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Pending：</span></b>服务器正忙，暂时未能判您的程序，请稍后查看结果；
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Running：</span></b>服务器正在裁判您的程序，请稍后查看结果；
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Accepted：</span></b>您的程序已通过所有测试样例，恭喜您完成了所提交的题目；
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Presentation Error：</span></b>您的程序可能输出了正确的结果，但是输出的格式与要求的结果不一致，请仔细检查；
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Runtime Error：</span></b>您的程序发生了运行时错误，可能的原因有：</p>
        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <span lang="EN-US">1.</span>访问数组时下标越界；</p>
        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <span lang="EN-US">2.</span>使用指针读取了不可读的内存或写了不可写的内存；</p>
        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <span lang="EN-US">3.</span>整数除法除数为<span lang="EN-US">0</span>；</p>
        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <span lang="EN-US">4.</span>函数调用栈的层次过多导致栈溢出，请检查是否存在无穷递归的可能；</p>
        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <span lang="EN-US">5.</span>捕捉到违背处理的<span lang="EN-US">STL</span>异常或自定义的异常……等。
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Time Limit Exceeded：</span></b>
            程序运行时间超出了时间限制，请检查是否使用了低效率的算法，或者在程序中大量使用低效率的操作，比如用<span lang="EN-US">iostream</span>进行大量数据的读写等，此时可以试着换用<span lang="EN-US">stdio</span>再提交一次。
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Memory Limit Exceeded：</span></b>
            程序使用的内存超出了内存限制，请检查是否存在内存泄露，或者使用了空间复杂度过高的算法。
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Output Limit Exceeded：</span></b>
            程序输出了过多的内容，请检查是否存在与输出有关的死循环。
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Compilation Error：</span></b>
            程序存在语法错误，无法编译。也许您的程序在某些平台上可以正常编译，但可能由于使用了不规范语法，它无法在<span lang="EN-US">GzhuOJ</span>的平台上编译成功。请编写严格符合标准的代码。
        </p>

        <p class="MsoNormal" style='text-indent: 21.3pt'>
            <b><span lang="EN-US">Dangerous Code：</span></b>
           您的程序进行了可能威胁到服务器安全的函数调用而被禁止。除了标准输入输出外，请尽量不要执行其他与系统有关的操作。
        </p>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p>Java源码的入口类与入口方法？</p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p>入口类必须被声明为“public class Main”，不可换用其它类名；而入口方法的原型必须为“public static void main(String[])”。</p>
      </div>
    </br>
    <div class="Q">
        <img class="QA_img" src="/img/Q.png"\>
        <p><span lang="EN-US">Java</span>的<span lang="EN-US">IO</span>很慢，这样在时间上<span lang="EN-US">Java</span>程序员会不会很吃亏？</p>
      </div>
      <div class="A">
        <img class="QA_img" src="/img/A.png"\>
       <p>按照惯例，我们为<span lang="EN-US">Java</span>留出的时间限制是<span lang="EN-US">C/C++</span>的两倍，来保证<span lang="EN-US">IO</span>不会成为<span lang="EN-US">Java</span>程序的效率瓶颈，而且往往正因为如此<span lang="EN-US">,Java</span>程序在很多情况下反而更具有时间优势。如果您确信<span lang="EN-US">IO</span>成为您<span lang="EN-US">Java</span>程序的性能瓶颈，不妨试试下面这个类：</p>
        <p class="MsoNormal" align="left" style='text-align: left;'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>class</span><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
Reader </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left;'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> BufferedReader reader</span><b><span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> StringTokenizer tokenizer</span><b><span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>;</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left;'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: teal'>/** call this method to initialize reader for InputStream */</span>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left;'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>void</span><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> init</span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>InputStream
input</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>)</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
reader </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>new</span></b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: black'> BufferedReader</span><b><span
        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>new</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> InputStreamReader</span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>input</span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>));</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
tokenizer </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>new</span></b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: black'> StringTokenizer</span><b><span
        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: gray'>&quot;&quot;</span><b><span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>);</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; background: white'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: teal'>/** get next word */</span>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> String next</span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>throws</span></b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
IOException </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>while</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(!</span></b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>tokenizer</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>hasMoreTokens</span><b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>())</span></b><span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: green'>//TODO add check for eof if necessary</span>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
tokenizer </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>=</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>new</span></b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: black'> StringTokenizer</span><b><span
        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b> <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>reader</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>readLine</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>());</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> tokenizer</span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>nextToken</span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>();</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>int</span><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
nextInt</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>throws</span></b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: black'> IOException </span><b><span
        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> Integer</span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>parseInt</span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>next</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>());</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left;'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>static</span><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: #8000FF'>double</span><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>
nextDouble</span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>()</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>throws</span></b><span lang="EN-US"
    style='font-size: 10.0pt; font-family: "Courier New"; color: black'> IOException </span><b><span
        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>{</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left;'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: blue'>return</span></b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'> Double</span><b><span lang="EN-US"
                style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>.</span></b><span
                    lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>parseDouble</span><b><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>(</span></b><span
                            lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>next</span><b><span
                                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>());</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: black'>&nbsp;&nbsp;&nbsp;
            </span><b><span lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left; '>
            <b><span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: navy'>}</span></b>
        </p>

        <p class="MsoNormal" align="left" style='text-align: left;'>
            <span
                lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: green'>//</span><span
                    style='font-size: 10.0pt; font-family: 宋体; color: green'>来源：</span><span
                        lang="EN-US" style='font-size: 10.0pt; font-family: "Courier New"; color: green'><u><a href = "http://www.cpe.ku.ac.th/~jim/java-io.html" target = "_black">http://www.cpe.ku.ac.th/~jim/java-io.html</a></u></span>
        </p>
      </div>
    </br>
    <!--F.A.Q.s 本次修订完成时间：2013-11-16 0：22-->
    </div>
    <div class="set_picture_right">
    </div>
  </div>
</fieldset>
