<!--<html>-->
<fieldset>
  <div><legend>主页</legend></div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <div>
          <p></p>
        </div>
      </div>
      <div class="span10" style="font-size:16px;">
        <h2 class="user-green">温馨提示：新手请多留意论坛(forum)</h2>
        <div style="margin:30px 0;">
          <h4 class="user-green">一、13级登录（账号已经帮你们注册好了）</h4>
          1、点击右上角的Enter
          <br />
          2、"User Name"输入你的学号
          <br />
          3、"password"输入密码，默认"123456"
        </div>
        <div style="margin:30px 0;">
          <h4 class="user-green">二、新手注意事项</h4>
          1、多组数据一般来说要读到文件末尾为止（所谓的EOF, "end of file"），例如while(cin>>n)、while(scanf("%d", &n) != EOF)等均可，详情请参考<a href="/problem?pid=1000">1000: A + B problem</a>
          <br />
          2、题目给出的数据范围是指后台数据（用于测试你的代码是否正确）的范围，所以请不要在代码中判断输入数据是否符合范围！（后台数据已经保证符合范围了！）
          <br />
          3、请不要输出与题目无关的信息，因为后台是严格进行匹配的，如果有一个字符不对都是判别为不正确！
          <br />
          4、更多帮助信息请参考“<a href="/topic/1014">Help</a>”。
        </div>
        <div style="margin:30px 0;">
          <h4 class="user-green">三、写出具有良好风格的代码</h4>
          1、注意对齐、缩进、空格等，可以参考“FAQ”中的代码风格；
          <br />
          2、关于代码风格的详情自己上网查资料。
        </div>
        <div style="margin:30px 0;">
          <p><abbr title="ACM International Collegiate ProgrammingContest">ACM-ICPC</abbr></p>
          <p>ACM国际大学生程序设计竞赛是由美国计算机协会（ACM）主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。经过近30多年的发展，ACM国际大学生程序设计竞赛已经发展成为最具影响力的大学生计算机竞赛。</p>
        </div>
      </div>
    </div>
  </div>
</fieldset>
