<!--<html>-->
<div class="jqmSubmit" id="logcolog" style="width:400px;height:220px;top:25%;left:35%;">
  <div align="center">
    <div class="bread jqDrag jqtop" style="width:390px;">
      Login contest
    </div>
  </div>
  <div class="jqcontent" style="width:390px;height:120px;padding-left:10px;">
    <small id="contest_error" class="error-text"></small>
    <div style="padding-top:10px;">
      <label for="contest_password" style="font-size:12px;">Password *</label>
      <input type="password" class="jqtext" style="width:370px;" id="contest_password">
    </div>
  </div>
  <div class="jqfoot">
    <a class="uibtn" href="javascript:;" id="contest_submit">Login</a>
    <a class="uibtn contestclose" href="javascript:;">Cancel</a>
  </div>
  <div class="jqResize"></div>
  <i class="contestclose jqclose"></i>
</div>