<!--<html>-->
<fieldset>
  <div><legend>排名</legend></div>
  <div class="tablebg">
    <div id="pager" class="pagination pagination-small">
      <div style="float:left;">
        <% var page = 1; %>
        <% if (Q && Q.page) page = Q.page; %>
        <ul id="<%= page %>">
        </ul>
      </div>
      <div style="float:right;" id="filter">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-search"></i></span>
          <% var search = ''; %>
          <% if (Q && Q.search) search = Q.search; %>
          <input type="text" id="search" value="<%= search %>" title="user or nickname" placeholder=" user or nickname">
          <a id="uin_del" class="uin_del" style="display:none;" href="javascript:;" title="clear"></a>
        </div>
      </div>
    </div>
    <div id="tablediv">
      <table class="table table-cf tdcenter" style="table-layout:fixed;" id="rank">
        <thead>
          <tr>
            <th style="width:5%;">Rank</th>
            <th style="width:14%;">User</th>
            <th style="width:14%;">Nickname</th>
            <th>Signature</th>
            <th style="width:7%;">Solved</th>
            <th style="width:7%;">Submit</th>
            <th style="width:8%;">AC_Ratio</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</fieldset>
