<!--<html>-->
<legend>统计</legend>
<fieldset>
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td valign="top" width="30%">
        <div class="tablebg">
          <div id="header">Problem Status</div>
          <div id="tablediv">
            <table class="table table-cf tdcenter tdmini">
              <thead>
                <tr>
                  <th>Stats</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td>Total Submissions</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Accepted</td>
                  <td></td>
                </tr>
                <tr class="odd">
                  <td>Wrong Answer</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Presentation Error</td>
                  <td></td>
                </tr>
                <tr class="odd">
                  <td>Time Limit Exceed</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Memory Limit Exceed</td>
                  <td></td>
                </tr>
                <tr class="odd">
                  <td>Output Limit Exceed</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Runtime Error</td>
                  <td></td>
                </tr>
                <tr class="odd">
                  <td>Compilation Error</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
      <td width="3%"></td>
      <td valign="top">
        <div style="text-align:center;"><h3 style="color:#666;">The Best Solutions For <a href="/problem?pID=<%= pid %>">Problem <%= pid %></a></h3></div>
        <div class="tablebg">
          <div id="pager" class="pagination pagination-small">
            <div style="float:left;">
              <ul id="<%= pid %>">
              </ul>
            </div>
            <div style="float:right;" class="input-prepend" id="filter">
              <span class="add-on">Lang.</span>
              <select class="input-mini" id="search">
                <option value="-1" selected>All</option>
                <option value="1">C</option>
                <option value="2">C++</option>
                <option value="3">Java</option>
              </select>
            </div>
          </div>
          <div id="tablediv">
            <div class="back" style="width:0%;"><div class="left"></div></div>
            <table class="table table-cf tdcenter sort" id="statistic">
              <thead>
                <tr>
                  <th width="7%">Rank</th>
                  <th width="20%">Author</th>
                  <th><a id="1" href="javascript:;">Exe. Time</a></th>
                  <th><a id="2" href="javascript:;">Exe. Memory</a></th>
                  <th><a id="3" href="javascript:;">Code Len.</a></th>
                  <th>Language</th>
                  <th width="20%">Date</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </table>
</fieldset>