<!--<html>-->
<fieldset>
  <form class="form-horizontal" method="post" id="scode">
    <div><legend>代码提交</legend></div>
    <div class="control-group">
      <label class="control-label" for="pid">Problem:</label>
      <div class="controls">
        <input type="search" class="input-mini" id="pid" name="pid" value="<%= id %>" >
        <span class="help-inline error-text" id="error"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="lang">Language:</label>
      <div class="controls">
        <select class="input-small" id="lang" name="lang">
          <option value='1'>C</option>
          <option value='2' selected="selected">C++</option>
          <option value='3'>Java</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="code">Source Code:</label>
      <div class="controls">
        <textarea rows="25" class="span7" id="code" name="code"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <a id="codesubmit" class="uibtn checklogin" href="javascript:;">submit</a>
    </div>
  </form>
<fieldset>