<!--<html>-->
<fieldset>
  <div><legend>主页</legend></div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <div>
          <p></p>
        </div>
      </div>
      <div class="span10">
        <div>
          <h2 class="user-green">温馨提示：</h2>
          <h4 class="user-green">本OJ题目AC后，可在题目左侧栏点击Add tag为那个题增加标签</h4>
          <br />
          <br />
          <br />
          <p><abbr title="ACM International Collegiate ProgrammingContest">ACM-ICPC</abbr></p>
          <p>ACM国际大学生程序设计竞赛是由美国计算机协会（ACM）主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。经过近30多年的发展，ACM国际大学生程序设计竞赛已经发展成为最具影响力的大学生计算机竞赛。</p>
        </div>
      </div>
    </div>
  </div>
</fieldset>
